body {
background-color: lightpink;
font-family: 'Raleway', sans-serif;
}

.navigation h1 {
  color: white;
  float: left;
  overflow: hidden;
  padding: 10px 30px;
  font-weight: normal;
  font-size: 20px; 
}

.navigation {
  backgroud-color: lightpink;
  grid-template: 100px / 50% 50%;
  display: grid;
  /* overflow: hidden;
  margin: 15px auto;
  padding: 0 20px;
  float: right;
  } */

  
.navigation ul {
  backgroud-color: lightpink;
  grid-template: 100px / 50% 50%;
  display: grid;
   
.navigation li {
  display: inline-block;
  margin-left: 25px;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: Black;
}

#banner {
 background-image: url("https://cosmos-images1.imgix.net/file/spina/photo/14302/5in1-poster.jpg?ixlib=rails-2.1.4&auto=format&ch=Width%2CDPR&fit=max&w=1400");
  background-size: cover;
  background-position: 20px;
  top: 15px;
  height: 450px;
  width: 100%;
  overflow: hidden;
}

#banner .content {
  top: 15px;
  height: 450px;
  width: 100%;
}

#apresentação h3 {
  width: 500px;
  padding: 10px;
  border: 3px solid;
  border-radius: 20px;
  text-align: center;
  margin: 20px auto;
}

 .grid {
  grid-template: 100px / 60% 40%;
  display: grid;
  height: 150px;
  width: 100%;
  background-color: white;
}

.titulo-mulheres {
  font-family: 'Felipa', cursive;
  text-align: center;
  font-size: 80px;
  margin: 32px auto;
  color: deeppink;
}

.descricao-mulheres {
  width: 450px;
  text-align: center;
  font-family: cursive;
  font-size: 18px;
  margin-right: 60px;
  margin-top: 34px;
}

#listagem {
  display: inline-flex;
}

