body {
backgroung-color: White;
font-family: 'Raleway', sans-serif;
}

.navigation h1 {
  background-color: white;
  color: pink;
  float: left;
  overflow: hidden;
  margin: 15px auto;
  padding: 0 20px; 
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: White;
  margin: 15px auto;
  padding: 0 20px;
  float: right;
  }

.navigation li {
  display: inline-block;
  margin-left: 25px;
}

.navigation li a {
  display: block;
  color: Pink;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: Black;
}

#banner {
 background-image: url("https://cosmos-images1.imgix.net/file/spina/photo/14302/5in1-poster.jpg?ixlib=rails-2.1.4&auto=format&ch=Width%2CDPR&fit=max&w=1400");
  background-size: cover;
  background-position: 20px;
  top: 15px;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

#banner .content {
  background-color: rgba(255, 255, 255, 0.3);
  top: 15px;
  height: 400px;
  width: 100%;
}

  /* 
#banner .content h1 {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  top: 60px;
  color: White;
  width: 500px;
  text-align: center;
  border: 3px solid White;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  }

#banner .content h2 {
  font-size: 20px;
  font-weight: bold;
  color: White;
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
}

#banner .content h3 {
  font-size: 25px;
  position: relative;
  top: 150px;
  width: 470px;
  color: White;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
    
   */

